<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css-file/Home.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <div class="header-container">
        <div class="header">
            <div class="logo-icon">
                <img class="sbkaBazaarLogo" src="/images/logo.png" alt="Sabka Bazaar Logo">
            </div>
            <div class="flow-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                </ul>
            </div>
            <div class="right-links">
                <ul>
                    <li><a href="/login">SignIn</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                <div class="cart-icon">
                    <img class="cart-dimension" src="/images/cart.svg" alt="cart image" />
                    <span class="number-of-items">0 items</span>
                </div>
            </div>
        </div>
    </div>
    <div class="carousal">
        <div class="carousal-wrapper">
            <div class="slider">
                <img src="/images/offers/offer1.jpg" alt="">
            </div>
            <div class="slider">
                <img src="/images/offers/offer2.jpg" alt="">
            </div>
            <div class="slider">
                <img src="/images/offers/offer3.jpg" alt="">
            </div>
            <div class="slider">
                <img src="/images/offers/offer4.jpg" alt="">
            </div>
            <div class="slider">
                <img src="/images/offers/offer5.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="product-info">
        <div class="product">
            <div class="product-image">
                <img src="/images/category/fruits.png" alt="">
            </div>
            <div class="product-details">
                <div class="product-title">Fruits & Vegetable</div>
                <div class="product-description">A variety of fresh fruits and Vegetable</div>
                <div class="product-button"><a>Explore fruits-and-veg</a></div>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="/images/category/bakery.png" alt="">
            </div>
            <div class="product-details">
                <div class="product-title">Bakery, Cakes & Diary</div>
                <div class="product-description">The best cupcakes, cookies, pies, cheescakes, fresh bread, muffin, milk
                    and more</div>
                <div class="product-button"><a>Explore bakery-cakes-diary</a></div>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="/images/category/beverages.png" alt="">
            </div>
            <div class="product-details">
                <div class="product-title">Bevarages</div>
                <div class="product-description">Our beverages department will ensure your fridge is always fully
                    stocked</div>
                <div class="product-button"><a>Explore bevarages</a></div>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="/images/category/beauty.png" alt="">
            </div>
            <div class="product-details">
                <div class="product-title">Beauty and Hygiene</div>
                <div class="product-description">Buy beauty and personal care products online in India at best prices
                </div>
                <div class="product-button"><a>Explore beauty-hygiene</a></div>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="/images/category/baby.png" alt="">
            </div>
            <div class="product-details">
                <div class="product-title">Baby care</div>
                <div class="product-description">Shop online for baby products</div>
                <div class="product-button"><a>Explore more</a></div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <p class="footer-message">Copyright @2010-2021 Sabka bazaar Grocerry</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- <script type="text/x-handlebars-template">
       
    </script> -->

    <script src="./frontend/scripts/handlebars-v4.7.7.js"></script>
    <script src="./frontend/scripts/script.js"></script>


</body>

</html>