<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css-file/Login.css">
</head>

<body>
    <div class="header-container">
        <div class="header">
            <div class="logo-icon">
                <img class="sbkaBazaarLogo" src="/images/logo.png" alt="Sabka Bazaar Logo">
            </div>
            <div class="flow-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                </ul>
            </div>
            <div class="right-links">
                <ul>
                    <li><a href="/login">SignIn</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                <div class="cart-icon">
                    <img class="cart-dimension" src="/images/cart.svg" alt="cart image" />
                    <span class="number-of-items">0 items</span>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="static-messages">
            <div class="login-header">
                <h1>Login</h1>
            </div>
            <div class="login-message">
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
        </div>
        <div class="form-submit">
            <form action="" method="get">
                <div class="input-field">
                    <input type="email" id="email" required />
                    <label for="email">Email:</label>
                    <input type="password" id="password" required />
                    <label for="password" class="password-label">Password</label>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div class="footer-container">
        <p class="footer-message">Copyright @2010-2021 Sabka bazaar Grocerry</p>
    </div>
</body>

</html>